/* BASE STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

:root {
  --main-text-color: #071030;
  --main-blue: #0070E8;
}

/* HEADER */

/* Common styles */
#nav-bar ul,
#logo h1 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#nav-bar ul,
#nav-buttons {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#nav-buttons a {
  font-size: 0.7em;
  padding: 12px 15px;
  border-radius: 5px;
}

/* login button */
#nav-buttons a:nth-of-type(1) {
  box-shadow: inset 0 0 0 2px var(--main-text-color); /* Creates a border around the button */
  margin-right: 12px;
}

#nav-buttons a:nth-of-type(1):hover {
  box-shadow: inset 0 0 0 2px #ccc;
}

/* Sign up button */
#nav-buttons a:nth-of-type(2) {
  background: var(--main-blue);
  color: #fff;
}

#nav-buttons a:nth-of-type(2):hover {
  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,.18); /* Creates a border-bottom like effect */
}
/* \Common styles */

#header {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  height: 15vh;
}

#header-img {
  margin-right: 15px;
  font-size: 40px;
  color: var(--main-blue);
}

#logo {
  display: flex;
  align-items: center;
}

#logo h1 {
  font-weight: 300;
  font-size: 2.2em;
}

#nav-bar {
  display: flex;
  align-items: center;
}

#nav-bar ul {
  display: flex;
}

/* Select first three items */
#nav-bar ul li:nth-child(-n + 3) {
  margin-right: 48px;
  font-size: 0.9em;
}

/* HERO */
#hero {
  background-image: url('../images/hero.jpg');
  height: 85vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Container for all the hero content */
#hero-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

/* Container for hero text */
#hero-info  {
    margin-bottom: 40px;
}

/* Coding made simple */
#hero-content h2 {
  font-family: 'Quicksand';
  font-size: 3em;
  margin-bottom: 20px;
}

/* mission text */
#hero-content p {
  font-size: 1.5em;
}

/* Get started button */
#hero-button {
  background: var(--main-blue);
  min-height: 50px;
  display: block;
  width: 180px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Quicksand', sans-serif;
}

#hero-button:hover {
  box-shadow: 0 4px 8px 0 rgba(65,75,86,0.4);
}

/* SEEN ON SECTION */
#seen-on {
  padding: 10px 0;
  text-align: center;
}

#seen-on img {
  max-width: 18%;
  max-height: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
  vertical-align: middle;
  opacity: 0.2;
}

/* add a margin of 4% to the first 5 logos */
#seen-on img:nth-child(-n + 5) {
  margin-right: 4%;
}
